<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:context="com.example.sqlitesample.MainActivity" >


    <item
    android:id="@+id/savedTopics"
    android:icon="@android:drawable/ic_menu_add"
    android:orderInCategory="100"
    android:title="Saved Topics"
    />

    <item
        android:id="@+id/dislikedTopics"
        android:icon="@android:drawable/ic_menu_add"
        android:orderInCategory="100"
        android:title="Disliked Topics"
        />
    <item
        android:id="@+id/signOut"
        android:icon="@android:drawable/ic_menu_add"
        android:orderInCategory="100"
        android:title="Sign Out"
        />
</menu>
